<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/Login.js"></script>
    <script
      src="https://kit.fontawesome.com/97bceb2613.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Locker Room</title>
  </head>
  <body>
    <div class="logo">
      <img src="/img/famchat-logo.png" alt="logo" width="200px" />
    </div>
    <main>
      <form action="/login" method="POST" class="login">
        <input type="text" name="email" placeholder="Email" id="login-email" />

        <input
          type="password"
          name="password"
          placeholder="Password"
          id="login-password"
        />
        <div class="show-password">
          <input type="checkbox" name="check" id="checkbox" />
          <label for="check"> Show password</label><br />
        </div>

        <button class="loginBtn">Log In</button>
      </form>
    </main>
  </body>
</html>
