@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

body {
  background-color: #ecf0fd;
}

.about {
  font-family: "Poppins", sans-serif;
  color: #2c2c2c;
  text-align: center;
}

.logo {
  width: fit-content;
  padding: 0.5em;
  margin: 2em auto;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

/* FIRST PAGE */
/* Buttons */
.loginBtn,
.signUpBtn,
.aboutBtn {
  width: 50%;
  padding: 1em;
  border-radius: 1em;
  margin: 1em auto;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

/* SECOND PAGE */
/* Forms */
.login,
.signUp {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-width: 40%;
  margin: auto;
  border-radius: 1em;
  border: solid 3px #2c2c2c;
  padding: 1em;
}

.show-password {
  display: flex;

  align-items: center;
}

/* EVERY PAGE */

input,
select {
  color: #2c2c2c;
  font-family: "Poppins", sans-serif;
  padding: 0.5em;
  border-radius: 1em;
  border: solid 2.5px #2c2c2c;
  margin: 0.5em;
}
.email-field {
  width: 90%;
}

label {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

::placeholder {
  color: #2c2c2c;
}

a {
  font-family: "Poppins", sans-serif;
  background-color: #d6d6d6;
  color: #2c2c2c;
  border-radius: 1em;
  border: solid 2.5px #2c2c2c;
  padding: 0.5em;
  margin: 0.5em;
  text-decoration: none;
  text-align: center;
  transition: ease-in-out 500ms;
}

a:hover {
  color: #df1b3f;
  transform: scale(1.1);
}

/* WELCOME PAGE */

.logout-case {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}

#logout-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.fa-arrow-right-from-bracket {
  font-size: 1.5em;
  color: #2c2c2c;
}

.go-to-chat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-envelope {
  margin-right: 0.5em;
}

.wlcUser {
  font-family: "Poppins", sans-serif;
}
.logout-case {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
}

#previous-btn {
  padding: 1.5em;
  font-size: 1.5em;

  border: none;
  background: none;
}

.fa-arrow-left {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.fa-arrow-left:hover {
  transform: scale(1.5);
  color: #df1b3f;
}
